.header {
    padding: 10px;
    -webkit-box-shadow: 0px 10px 7px -3px rgba(50,50,50,0.3);
    -moz-box-shadow: 0px 10px 7px -3px rgba(50,50,50,0.3);
    box-shadow: 0px 10px 7px -3px rgba(50,50,50,0.3);
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgb(232, 221, 211);
}


.header-wrapper {
    width: 80%;
    margin: 0 auto;
    color: rgb(50, 50, 50);
}

.header-links-container {
    display: flex;
    width: 40%;
    margin: 10px auto;
    justify-content: space-around;
    text-transform: uppercase;

}

.header-link {
    color: rgb(25, 25, 25);
    text-decoration: none;
    font-size: 2rem;
}

/* Main Section */


.mainsection-text {
    width: 100%;
    margin: 0 auto;
    background: salmon; 
}

.mainsection-text h2{
    background: salmon; 
    text-align: center;
    padding: 250px 50px 20px 50px;
    font-size: 7rem;
    color: #f7f7f7;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 14px;
    text-shadow: 6px 2px 7px #b45c51;
}

.mainsection-text h3 {
    background: salmon; 
    text-shadow: 6px 2px 7px #b45c51;
    text-align: center;
    color: #f7f7f7;
    font-size: 3rem;

}

.title {
    color: whitesmoke;
    text-align: center;
    font-size: 3.5rem;
    text-shadow: 6px 2px 7px #b45c51;
}

.mg-bottom {
    padding-bottom: 230px;
}

.mainsection-text:after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 25px solid salmon;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;

}

/* Projects Sectio */

.projects-section {

    background: rgb(50, 50, 50);
  
}

.projects-section .projects-section-img {
    text-align: center;
    padding-top: 80px;
}

.projects-section__img {
    width: 35%;
    height: auto;
    border-radius: 50%;
    border: 8px solid rgba(45, 45, 45, .6);
}

.projects-heading {
    text-align: center;
    background: rgb(50, 50, 50);
    font-size: 7rem;
    color: #f7f7f7;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 14px;
    margin-top: 30px;
    text-shadow: 6px 2px 7px rgba(45, 45, 45);
}

.project {
    max-width: 500px;
}

.project-img {
    width: 500px;
    height: auto;
}

.project-text {
    background: salmon;
    margin-top: -3px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 10px;
    padding-bottom: 10px;
}

.project-text__heading {
    background: salmon;
    text-shadow: 6px 2px 7px #b45c51;
    color: #f7f7f7;
    font-size: 2.5rem;
    
}

.project-link {
    color: rgb(50,50,50);
    font-size: 1.7rem;
    cursor: pointer;
}

.project-circle {
    margin-bottom: 3px;
    font-size: .8rem;
    margin-right: 8px;
    margin-left: 8px;
    color: rgb(50,50,50);
    text-shadow: 6px 2px 7px #b45c51;
}

.project-img__container {
    position: relative;
}

.project-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(232, 221, 211, .9);
}

.project-click__icon {
    font-size: 4rem;
}

.project-overlay__open {
    opacity: 1;
}

.toggle-overlay {
    padding: 5px;
    width: 100%;
    background: salmon;
    border: none;
    outline: none;
}

.arrow {
    font-size: 1.7rem;
    color: rgb(50,50,50);
}

.overlay-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-text-description {
    color: rgb(50,50,50);
    font-size: 1.7rem;
    background: none;
}

.overlay-circle {
    font-size: .8rem;
    margin-right: 8px;
    margin-left: 8px;
    color: rgb(50,50,50);
    margin-top: 5px;
}



















